{% set modal_heading = _('Cite: ') ~ ' ' ~ (h.get_translated(pkg_dict, 'title') if pkg_dict else h.get_translated(res_dict, 'name')) %}
<div id="citeproc-modal" {% if not embedded %} class="modal"{% endif %} tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>
          {% block modal_heading %}{{ modal_heading }}{% endblock %}
        </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div {% if not embedded %} class="modal-body"{% endif %}>
        <p><strong>{{ _('Below, you can copy citations in different formats.') }}</strong></p>
        <div id="citeproc-modal-inner"><p><em>Loading...</em></p></div>
      </div>
    </div>
  </div>

</div>
